.faq {
  background: url("/img/custom-white-bg@1x.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__wrapper {
    @include container;

    padding: 58px 15px 60px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked ~ {
        .faq__content {
          display: block;
          max-height: 1000px;
        }

        .faq__caption {
          font-weight: 500;
          border-bottom: 3px solid rgb(224, 224, 224);

          &::before {
            content: "−";
            color: rgba(0, 0, 0, 0.9);
            border-color: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }
  }

  &__caption {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0;
    padding: 0 70px 0 16px;
    color: rgb(0, 0, 0);
    font-family: "Neo Sans Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: pointer;

    &::before {
      @include vertical-center;

      content: "+";
      right: 5px;
      width: 50px;
      height: 50px;
      color: rgb(249, 220, 98);
      font-size: 55px;
      line-height: 55px;
      font-weight: 500;
      font-family: $main-font;
      text-align: center;
      border: 5px solid rgb(249, 220, 98);
      transition: all 0.35s;
      box-sizing: border-box;
    }
  }

  &__content {
    max-height: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: max-height 0.35s;
  }

  &__text {
    margin: 0;
    padding: 17px 30px 26px 16px;
    color: rgb(40, 40, 40);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btn {
    text-align: center;
  }
}

@media #{$tablet-width} {
  .faq {
    &__wrapper {
      padding: 47px 15px 60px;
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    &__caption {
      font-size: 26px;
      line-height: 36px;
    }

    &__text {
      padding: 15px 15px;
      font-size: 21px;
      line-height: 31px;
    }

    &__btn {
      width: 355px;
      margin: 0 auto;
    }
  }
}

@media #{$desktop-width} {
  .faq {
    &__wrapper {
      padding: 117px 210px 120px;
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    &__caption {
      font-size: 26px;
      line-height: 36px;
    }

    &__text {
      padding: 15px 15px;
      font-size: 21px;
      line-height: 31px;
    }
  }
}
