.footer {
  background: rgb(0, 11, 34) url("../img/footer-bg@1x.jpg") no-repeat center;
  background-size: cover;
  &__wrapper {
    @include container;
    padding: 58px 15px 0;
  }
  &__title {
    margin-bottom: 49px;
  }
  &__partners {
    margin-bottom: 60px;
  }
}

@media #{$tablet-width} {
  .footer {
    &__wrapper {
      padding: 47px 15px 0;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__partners {
      margin-bottom: 80px;
    }
  }
}

@media #{$desktop-width} {
  .footer {
    &__wrapper {
      padding: 117px 15px 0;
    }
    &__title {
      margin-bottom: 82px;
    }
    &__partners {
      margin-bottom: 120px;
    }
  }
}
