.goals {
  background: rgb(12, 59, 71) url("/img/goals-bg@1x.jpg") no-repeat center;
  background-size: cover;
  &__wrapper {
    @include container;
    padding: 68px 15px 70px;
  }
  &__title {
    margin-bottom: 84px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: list;
  }
  &__item {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
    padding: 45px 16px 37px;
    text-align: left;
    border: 5px solid rgb(249, 220, 98);
    border-top-color: transparent;
    box-sizing: border-box;
    &:not(:last-of-type) {
      margin-bottom: 75px;
    }
    &::before {
      @include horizontal-center;
      content: "";
    }
    &::after {
      content: counter(list) ".";
      counter-increment: list;
      position: absolute;
      top: -40px;
      left: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 70px;
      height: 70px;
      padding: 3px 7px;
      color: rgb(255, 255, 255);
      font-family: $main-font;
      font-size: 30px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      background-color: transparent;
      border: 5px solid rgb(249, 220, 98);
      box-sizing: border-box;
    }
    &--2 {
      padding-top: 59px;
    }
    svg {
      display: block;
      margin: 0 auto 36px;
    }
  }
  &__border {
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    height: 5px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 5px;
      background-color: rgb(249, 220, 98);
    }
    &::before {
      left: 0;
      width: 15px;
    }
    &::after {
      right: 0;
      width: 205px;
    }
  }
}

@media #{$tablet-width} {
  .goals {
    &__wrapper {
      padding: 47px 64px 60px;
    }
    &__title {
      margin-bottom: 70px;
    }
    &__item {
      max-width: 325px;
      padding-bottom: 55px;
      border-left-color: transparent;
      &::after {
        top: -40px;
        left: -40px;
      }
      &--2 {
        .goals__text {
          &::before {
            top: -192px;
            height: 178px;
          }
        }
      }
    }
    &__border {
      position: absolute;
      top: -5px;
      right: -5px;
      left: -5px;
      height: 5px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 5px;
        background-color: rgb(249, 220, 98);
      }
      &::before {
        display: none;
      }
      &::after {
        width: 290px;
      }
    }
    &__text {
      position: relative;
      left: -50px;
      width: 120%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 29px;
        width: 5px;
        background-color: rgb(249, 220, 98);
      }
      &::before {
        top: -202px;
        height: 188px;
      }
      &::after {
        bottom: -59px;
        height: 45px;
      }
    }
  }
}

@media #{$desktop-width} {
  .goals {
    &__wrapper {
      padding: 117px 15px 120px;
    }
    &__list {
      display: flex;
    }
    &__title {
      margin-bottom: 140px;
    }
    &__item {
      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }
}
