.navigation {
  &--show {
    .navigation__panel {
      opacity: 1;
    }
  }
  &--active {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 65px 35px 65px;
    background-color: rgba(snow, 0.3);
    .navigation__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 70px 0 70px;
      box-sizing: border-box;
      text-align: center;
      background-color: rgba(34, 34, 34, 0.9);
      list-style: none;
    }
    .navigation__hamburger {
      background-color: transparent;
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
    @media #{$tablet-width-only} {
      .navigation__lang {
        position: absolute;
        z-index: 15;
        bottom: 65px;
        left: 35px;
        display: block;
      }
    }
  }
  &__list {
    display: none;
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
  }
  &__link {
    display: block;
    color: rgb(255, 255, 255);
    font-family: $main-font;
    font-size: 13px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: rgb(249, 220, 98);
    }
  }
  &__panel {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s;
    &--hide {
      display: none;
    }
  }
  &__toggler {
    @include button-reset;
    position: fixed;
    z-index: 11;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  &__hamburger {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: background 0.35s;
    &::before {
      content: "";
      position: absolute;
      transform: translateY(-7px);
      left: 0;
      width: 20px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      transition: all 0.35s;
    }
    &::after {
      content: "";
      position: absolute;
      transform: translateY(7px);
      left: 0;
      width: 20px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      transition: all 0.35s;
    }
    &--black {
      background-color: rgb(0, 0, 0);
      &::before {
        background-color: rgb(0, 0, 0);
      }
      &::after {
        background-color: rgb(0, 0, 0);
      }
    }
  }
}

@media #{$tablet-width} {
  .navigation {
    &--active {
      padding: 120px 35px 120px;
      .navigation__list {
        padding: 70px 0 70px;
      }
      .navigation__lang {
        bottom: 120px;
      }
    }
    &__link {
      font-size: 16px;
      line-height: 27px;
    }
  }
}

@media #{$desktop-width} {
  .navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 30px;
    background-color: transparent;
    box-sizing: border-box;
    transition: background 0.35s;
    &--show {
      background-color: white;
      .navigation__link {
        color: black;
      }
      .lang__value {
        color: black;
      }
    }
    &__list {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0 50px 0 0;
      padding: 0;
    }
    &__panel {
      position: static;
      width: 135px;
      height: 60px;
      margin-right: 100px;
      padding: 0;
      background-color: transparent;
      opacity: 1;
    }
    &__toggler {
      display: none;
    }
    &__item {
      &:not(:last-of-type) {
        margin: 0;
      }
    }
    &__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      font-size: 14px;
      line-height: 27px;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        left: 0;
        height: 5px;
        background-color: transparent;
        transition: background 0.35s;
      }
      &:hover {
        &::before {
          background-color: rgb(255, 213, 0);
        }
      }
    }
  }
}
