.statistics {
  background: rgb(80, 86, 88) url("/img/statistics-bg@1x.jpg") no-repeat left -550px top;
  background-size: cover;
  &__wrapper {
    @include container;
    padding: 58px 15px 57px;
  }
  &__title {
    margin-bottom: 48px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    &::before {
      @include horizontal-center;
      content: "";
    }
    &--single {
      margin-bottom: 40px;
      padding-bottom: 296px;
      &::before {
        bottom: 0;
        width: 240px;
        height: 281px;
        background: url("/img/diagram-single.svg") no-repeat center;
        background-size: cover;
      }
    }
    &--quarto {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      &::before {
        top: 60px;
        width: 221px;
        height: 292px;
        background: url("/img/diagram-quarto.svg") no-repeat center;
        background-size: cover;
      }
      .statistics__subitem {
        &:first-of-type {
          margin-bottom: 285px;
        }
        &:last-of-type {
          position: relative;
          top: -15px;
        }
      }
    }
    &--triple {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &::before {
        top: 60px;
        width: 247px;
        height: 255px;
        background: url("/img/diagram-triple.svg") no-repeat center;
        background-size: cover;
      }
      .statistics__subitem {
        &:first-of-type {
          margin-bottom: 293px;
        }
      }
    }
  }
  &__subitem {
    flex-basis: auto;
    &--full-width {
      width: 100%;
    }
  }
  &__subtitle {
    display: block;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: $main-font;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }
  &__caption {
    display: block;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
    font-family: $main-font;
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
  }
}

@media #{$tablet-width} {
  .statistics {
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__item {
      &--single {
        max-width: 100%;
        padding: 0 160px 400px;
        &::before {
          width: 300px;
          height: 381px;
          background: url("/img/diagram-single-tl.svg") no-repeat center;
          background-size: cover;
        }
      }
      &--quarto {
        max-width: 48%;
        &::before {
          top: 85px;
          width: 267px;
          height: 379px;
          background: url("/img/diagram-quarto-tl.svg") no-repeat center;
          background-size: cover;
        }
        .statistics__subitem {
          &:first-of-type {
            margin-bottom: 350px;
          }
          &:last-of-type {
            top: -5px;
          }
        }
      }
      &--triple {
        max-width: 48%;
        &::before {
          top: 85px;
          width: 267px;
          height: 305px;
          background: url("/img/diagram-triple-tl.svg") no-repeat center;
          background-size: cover;
        }
        .statistics__subitem {
          &:first-of-type {
            margin-bottom: 350px;
          }
        }
      }
    }
    &__subtitle {
      margin-bottom: 5px;
      font-size: 60px;
      line-height: 1;
    }
    &__caption {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

@media #{$desktop-width} {
  .statistics {
    background-position: center;
    &__wrapper {
      padding: 117px 15px 76px;
    }
    &__list {
      justify-content: center;
    }
    &__item {
      margin: 0;
      &--single {
        max-width: 36%;
        padding: 0 0 400px;
        &::before {
          width: 300px;
          height: 381px;
          background: url("/img/diagram-single-tl.svg") no-repeat center;
          background-size: cover;
        }
      }
      &--quarto {
        order: -1;
        margin-top: 190px;
        max-width: 32%;
        &::before {
          width: 267px;
          height: 379px;
          background: url("/img/diagram-quarto-tl.svg") no-repeat center;
          background-size: cover;
        }
        .statistics__subitem {
          &:last-of-type {
            top: -20px;
          }
        }
      }
      &--triple {
        margin-top: 190px;
        max-width: 32%;
        &::before {
          width: 267px;
          height: 305px;
          background: url("/img/diagram-triple-tl.svg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}
