.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 0 20px;
  background-color: rgba(249, 220, 98, 0.4);
  text-align: center;
  box-sizing: border-box;
  transition: all 0.35s;
  background-position: center;
  background-size: cover;
  .swiper-content {
    display: none;
  }
}

.swiper-content {
  h4 {
    margin: 0 0 15px;
    font-family: $main-font;
    color: rgb(40, 40, 40);
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
  }
  P {
    margin: 0;
    color: rgb(40, 40, 40);
    font-family: "Neo Sans Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.swiper-slide-active {
  background-color: rgb(249, 220, 98);
  .swiper-date {
    display: none;
  }
  .swiper-content {
    display: block;
  }
}

.swiper-slide-next,
.swiper-slide-prev {
  background-color: rgba(249, 220, 98, 0.6);
}

@media #{$tablet-width} {
  .swiper-slide {
    width: 250px;
    height: 250px;
    h4 {
      font-size: 26px;
      font-weight: 500;
      line-height: 27px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
