$mobile-width-only: "screen and (max-width: 767px)";
$tablet-width-only: "screen and (max-width: 1169px)";
$phablet-width: "screen and (min-width: 400px)";
$tablet-width: "screen and (min-width: 768px)";
$desktop-width: "screen and (min-width: 1170px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$main-font: "Neo Sans Pro",
Arial,
sans-serif;
